/assets/src         export-ignore
/docs/*.py          export-ignore
/docs/*.txt         export-ignore
/docs/_*            export-ignore
/tests              export-ignore
/example            export-ignore
/.git*              export-ignore
/*.yml              export-ignore
/*.xml              export-ignore
